.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

.hide{
    display: none;
}

body, html{
    height: 100%;
    width: 100%
}

.filtro{
    margin-top: 25px;
    margin-left: 10px;
}

.view{
    position: absolute;
    left: 100%;
    overflow: visible !important;
    z-index: 9;
}

.mensagem{
    width: 100%;
}

.button {
    color: #002C74 !important;
	background: #fff !important;	
    padding: 0.3em 0.8em !important;
    border: 1px solid;
    border-radius: 3px !important;
    border-color: #002C74 !important;
    -webkit-box-shadow: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.km-android .km-button .km-icon {
    color: #002C74 !important;    
}

input {
    font-size: .9em !important;
    padding: 0.5em .8em !important;
    border: 1px solid currentcolor !important;
    border-color: #002C74 !important;
    border-radius: 3px !important;
    outline-style: none !important;
    color: #002C74 !important;
    background: #fff !important;
}

.modal_mensagem {
	background: #FFF !important;
	outline: none;
    border-radius: 5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;  
}
.modal_mensagem div:first-child {
	background: #FFF !important;
	outline: none;
}
.modal_mensagem textarea {
	background: #FFF !important;
	outline: none !important;
    color: #000 !important;
    border-bottom: none !important;
    text-transform: uppercase;
}
.modal_mensagem .km-content {
    padding: 0px 7px;
}

.km-modalview-root>.k-animation-container{
        top: 50% !important;
    left: 50% !important;
    position: absolute !important;
    margin-left: -160px !important;
    margin-top: -120px !important;    
}