<div data-role="view" data-title="Motorista" data-layout="main">
    <ul data-role="listview" data-style="inset">
        <li>
            <label>
                Nº SMP
                <input type="text" id="numeroSMPMotorista" value="" />
            </label>
        </li>
        <li>
            <label>
                Mensagem
                <textarea style="resize: none" id="mensagem"></textarea>
            </label>
        </li>
    </ul>        
    <a class="button selected-button" onclick="enviarMensagem()" data-role="button">Enviar mensagem</a>
    <script src="scripts/Motorista.js" type="text/javascript"></script>
</div>