<style>
    .hide{
        display: none;
    }
</style>

<div data-role="view" data-title="SMP" data-layout="main">
	<div id="content">
        <div id="filtro">
            <label>
                Nº SMP
                <input type="text" id="numeroSMP" />
            </label>
            <a class="button selected-button" onclick="buscaRotaSMP()" data-role="button">Exibir rota</a>
        </div>
        <div id="divMapa"></div>
        <div id="divInfoWindowSMPPonto" class="hide">
            <table>
                <tr>
                    <td>
                        <label>Endereço: </label>
                    </td>
                    <td>
                        <label id="txtEndereco"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Identificador: </label>
                    </td>
                    <td>
                        <label id="txtIdentificadorPonto"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>CNPJ: </label>
                    </td>
                    <td>
                        <label id="txtCNPJPonto"></label>
                        <td>
                </tr>
                <tr>
                    <td>
                        <label>Telefone: </label>
                    </td>
                    <td>
                        <label id="txtTelefone"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>    
    <script src="scripts/SMP.js" type="text/javascript"></script>
</div>