<style>
.splash {
	background: url("img/fundo.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #0284CA;
}

.splash_content {
	background: url("img/fundo_centro.png");
	background-repeat: no-repeat;
	width: 312px;
	height: 464px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -156px;
	margin-top: -232px;
}

.logo_grupo {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 54px;
	margin-right: 39px;
}

.logo_apisullog {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -115px;
}

@media (max-height: 464px) {
	.splash {
		position: relative;
		top: 232px;	
		background: url("img/fundo.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		padding: 0;
		margin: auto;
		height: 464px;
		background-color: #0284CA;
	}
	
	.splash_content {
		position: relative;
		top: 0;
	}
}

@media (max-height: 320px) {
	.splash {
		height: 320px;
	}
	.splash_content {
		background: url("img/fundo_centro_land.png");
		background-repeat: no-repeat;
		height: 320px;
	}
}
</style>
<div class="splash">
	<div class="splash_content">
		<div class="logo_grupo">
			<img src="img/logo-grupo-apisul.png"/>
		</div>
		<div class="logo_apisullog">
			<img src="img/logo-apisullog.png"/>
		</div>
	</div>
</div>
<script type="text/javascript">

setTimeout('Redirect()',3000);
function Redirect()
{
  location.href = '../index.html';
}

</script>